<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Campañas Ripley</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Css -->
  <mini-site-styles>
  <link href="css/style_campaign.css" rel="stylesheet">
  </mini-site-styles>
</head>

<mini-site-scripts>
  <script src='https://www.google.com/recaptcha/api.js'></script>
  <script src='js/jquery.js'></script>
  <script src='js/jquery.form.js'></script>
  <script src='js/jquery.rut.js'></script>
</mini-site-scripts>

<body>
  <mini-site>
    <main>
      <section id="campaign-image">
        <img src="assets/campaign-image.jpg" width="990" height="210" class="desktop" />
        <img src="assets/campaign-image-mobile.jpg" width="360" height="185" class="mobile" />
      </section>
      <section id="campaign-form">
        <header class="title container">
          <h1>mensaje custom</h1>
        </header>
        <div>
          <h3>Inscríbete aquí</h3>
          <form id="form">
            <input class="hide-item" name="campaign_id" id="campaign_id" />
            <div class="row">
              <div class="col">
                <label>R.U.T</label>
              </div>
              <div class="col">
                <input type="text" placeholder="12.345.678-9" name="rut" id="rut" maxlength="12"/>
                <span class="error-msg hide-item" id="errorRut">Tu rut no es válido</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Nombres</label>
              </div>
              <div class="col">
                <input type="text" name="first_name" id="first_name" maxlength="50"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Apellidos</label>
              </div>
              <div class="col">
                <input type="text" name="last_name" id="last_name" maxlength="50"/>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>Teléfono</label>
              </div>
              <div class="col">
                <input type="text" placeholder="12345678" name="cellphone" id="cellphone" class="with-fixed-placeholder" maxlength="8"/>
                <span class="fixed-placeholder">+56 9</span>
                <span class="error-msg hide-item" id="errorCel">Tu teléfono no es válido</span>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <label>E-mail</label>
              </div>
              <div class="col">
                <input type="text" placeholder="nombre@mail.com" name="email" id="email" maxlength="50"/>
                <span class="error-msg hide-item" id="errorMail">Tu e-mail no es válido</span>
              </div>
            </div>
            <div class="row extra-margin-row">
              <div class="col">
                <label>¿Eres un robot?</label>
              </div>
              <div class="g-recaptcha" data-callback="recaptchaCallback" data-sitekey="6LcNGE8UAAAAAIx1cliIKbzssvKhK3n8MuNTiT6-"></div>
            </div>
            <div class="row conditions">
              <input type="checkbox" id="checkbox">
              <label for="checkbox">Deseo recibir ofertas y promociones de Tienda y Tarjeta Ripley.</label>
            </div>
            <div class="row">
              <button type="submit" class="btn grey-btn" id="submit" disabled>Enviar</button>
            </div>
            <p class="legal">legal custom</p>
          </form>
        </div>
      </section>
    </main>
    <div class="brand-line">
      <div class="red-bar"></div>
      <div class="yellow-bar"></div>
      <div class="pink-bar"></div>
    </div>
  </mini-site>
</body>

<mini-site-scripts>
  <script src='js/custom.js'></script>
</mini-site-scripts>

</html>

