<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Campañas Ripley</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Css -->
  <link href="css/style_campaign.css" rel="stylesheet">
</head>

<body>
  <mini-site>
    <main>
      <section id="campaign-image">
        <img src="assets/campaign-image.jpg" width="990" height="210" class="desktop" />
        <img src="assets/campaign-image-mobile.jpg" width="360" height="185" class="mobile" />
      </section>
      <section id="campaign-message">
        <div class="i-confetti"></div>
        <h1>¡Felicitaciones! Ya estás inscrito.</h1>
        <p>Ahora todas tus compras durante Abril con <b>Tarjeta Ripley Mastercard</b> en <b>Supermercados</b>, acumulan el <b>doble de Ripley Puntos.</b></p>
        <p class="legal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ornare quam lacus. Ut iaculis nisl sed neque imperdiet, sit amet eleifend lectus condimentum. Vivamus viverra velit semper urna efficitur, vel pellentesque tortor bibendum. Aliquam vitae sem et enim tempor fermentum.</p>
        <a href="form.html">Volver al formulario</a>
      </section>
    </main>
    <div class="brand-line">
      <div class="red-bar"></div>
      <div class="yellow-bar"></div>
      <div class="pink-bar"></div>
    </div>
  </mini-site>
</body>
</html>

